//Gilroy Regular
@font-face {
    font-family: 'Gilroy-400';
    src: url('./assets/Fonts/Gilroy/Gilroy-Regular.ttf');
}

// Gilroy Medium
@font-face {
    font-family: 'Gilroy-500';
    src: url('./assets/Fonts/Gilroy/Gilroy-Medium.ttf');
}

//Noto serif bold
@font-face {
    font-family: 'Noto';
    src: url('./assets/Fonts/Noto-serif/NotoSerif-Bold.ttf');
}
