*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::after,
    &::before{
        box-sizing: border-box;
    }
}

ul, ol, li{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

input,
textarea, 
select,
option,
button{
   outline: none; 
}

button{
    cursor: pointer;
    border: none;
}

textarea{
    resize: none;
}

h1, h2, h3, h4, h5, h6, p{
    line-height: 1;
}
